*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    line-height: 1.6;
}

h1{
    padding-top: 2%;
    text-align: center;
}

div{
    display: inline-block;
    padding: 1%;
}

img {
    height: 450px;
    width: 350px;
    padding: 1%;
    align-items: center;
}

.foodimg{
    padding-left: 10%;
}

section.recipes{
    align-content: center;
    margin: 1%;
}

p.home{
    margin-left: 15px;
}

.Ingredients{
    margin: auto;
    padding-left: 10%;
}

.Method{
    
}

.Description{
    
} 

section.reppage{
    column-count: 2;
}