*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    --navy: rgb(3, 3, 55);
    --blue: #a8cde9;
}

body{
    background-color: var(--blue);
    color: var(--navy);
    margin: 0;
}

h1{
    text-align: center;
    margin: 40px 30px;
}

.recipes{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    justify-content: center;
    margin: 30px;
}

@media (min-width: 400px) and (max-width: 768px) {
    .recipes{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .recipes{
        grid-template-columns: repeat(3, 1fr);
    }
}

.recipes a{
    text-decoration: none;
    color: var(--navy);
    text-align: center;
    font-size: 18px;
    padding: 15px;
    border-radius: 5px;
}

.recipes a:hover{
    box-shadow: 0px 0px 10px rgb(81, 81, 81);
}

img{
    width: 100%;
}

.home{
    position: absolute;
    top: 15px;
    left: 15px;
}

.home:hover img{
    filter: opacity(0.65);
}

.home img{
    width: 40px;
}

.description, .method{
    margin: 30px; 
}

.ingredients{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    height: fit-content;
    margin: 0 30px;
}

.ingredients img{
   width: min(100%, 350px);
   display: block;
   margin: auto;
}

.ingredients p{
    margin: 0;
}

@media (min-width: 700px) {
    .ingredients{
        flex-direction: row;
    }

    .ingredients img{
        width: 350px;
    }
}

footer{
    background-color: var(--navy);
    color: var(--blue);
    width: 100%;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
}

footer a{
    color: var(--blue);
}